footer {
    background-color: rgba(0, 0, 0, 0.125);
    display: flex;
    position: absolute;
    bottom: 0;
    height: var(--footer-height);
    width: 100%;
    justify-content: center;
    align-items: center;
}