header {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 1rem;
}

.loginForm, .registerForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 200px;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
}


input {
    height: 25px;
    width: 220px;
    padding: 5px;
}

.headerTitle {
    align-self: center;
}

button {
    margin: 10px;
    width: 80px;
    height: 25px;
    background-color: black;
    color: white;

}

button:hover {
    background-color: grey;
}
