* {
  box-sizing: border-box;
}

.smallImg {
    width: 200px;
    margin-top: 10px;
    margin-bottom: 15px;
  }

.thumbNailDiv {
  background-color: rgba(0, 0, 0, 0.6);
  color: rgb(245, 228, 214);
  width: 220px;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  height: 500px;
  border: 1px solid black;
  margin: 0 auto;
}

.contentDiv {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.btnDiv {
  height: 30px;
  justify-self:end;
} 

.save {
  width: 180px;
}

p.inMyCollection {
  margin-top: 20px;
  color: black;
  text-decoration: bold;
}
