:root {
    --footer-height: 100px;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rufina', serif;
}

body {
    position: relative;
    /* background-color: #5a5a5a; */
    background: url("../public/background.jpg") no-repeat fixed;
}

.App {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-bottom: var(--footer-height);
    min-height: 100vh;
}