* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rufina', serif;
}

body {
    /* background-color: #5a5a5a; */
    background: url("../public/background.jpg") no-repeat fixed;
   
}

.container {
    margin: 80px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    max-width: 1100px;
    justify-content: center;
}

.App {
    display: flex;
    flex-direction: column;
}

#showMore {
    width: 150px;
    margin: 0 auto 200px;
    
}