body {
    background: url("../public/background.jpg") no-repeat fixed;
}

.container {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    width: 800px;
    justify-content: center;
}